body {
    background-image: url('background.jpg');
    background-size: cover;
}
#sub-title{
    color: white;
    display: flex;
    justify-content: center;
}
#title {
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
#color-palette {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    
}
#buttons1 {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.color {
    width: 48px;
    height: 48px;
    border: 1px solid black;
    border-radius: 100%;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}
#button-random-color {
    margin-right: 10px;
}
#board-size {
    margin-right: 10px;
}
#generate-board {
    margin-right: 10px;
}
#clear-board {
    margin-right: 20px;
}
#pixel-board {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.line {
    display: flex;
    justify-content: center;
}
.pixel {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#surprise {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.selected {
    border: 5px outset rgb(30, 255, 0);
    /* background-color: rgba(0, 68, 0, 0.5); */
}