#block1 {
    width: 48px;
    height: 48px;
    /* background-color: rgb(0, 0, 0); */
    border: 1px solid rgb(0, 0, 0);
    display: inline-block;
}
#block2 {
    width: 48px;
    height: 48px;
    /* background-color: rgb(255, 255, 0); */
    border: 1px solid rgb(0, 0, 0);
    display: inline-block;
}
#block3 {
    width: 48px;
    height: 48px;
    /* background-color: rgb(102, 51, 153); */
    border: 1px solid rgb(0, 0, 0);
    display: inline-block;
}
#block4 {
    width: 48px;
    height: 48px;
    /* background-color: blue; */
    border: 1px solid black;
    display: inline-block;
}
.color {
    /* background-color: rgb(0, 0, 0); */
}
#pixel-board {
    /* background-color: pink; */
    width: 212px;
    
}
.pixel {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: inline-block;
}